body{
    background-color: #eed9d9;
}

#one{
    display: block;
    width: 520px;
    height: auto;
    position: absolute;
    top:30px;
    left:30%;
}

#one img{
    width: auto;
    height: auto;
    border: 2px solid #cda389;
    padding: 20px;
    max-height: 1000px;
    max-width: 500px;
}

@media (max-width: 500px) {
    #one{
        display: block;
        width: 280px;
        height: auto;
        position: absolute;
        top:200px;
        left:10%;
    }
    #one img{
        width: auto;
        height: auto;
        border: 2px solid #cda389;
        padding: 20px;
        max-height: 500px;
        max-width: 250px;
    }
}

